.color-dark {
	color:#888;
}
.color-red {
	color:#F00;
}
.color-blue {
	color: #007AFF;
}
.color-green {
	color: #1F9609;
}

.zsl-remark {
	background:#F5F6F8; color:#888888; padding: 10px;  font-size:14px; line-height: 24px; text-indent: 2em; margin: 10px 5px;
}


.zsl-loadmore-text {
	color:#bbb;
}